@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

* {
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: "M PLUS 1p", sans-serif;
}

.border-bottom, .p-archive__title::after, .c-map__heading::after {
  display: block;
  content: "";
  border-bottom: solid 2px white;
  width: 70px;
  margin-top: 30px;
}

.l-header {
  height: 217px;
  background-color: #fff7ef;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .l-header {
    position: relative;
  }
}

.l-footer {
  height: 150px;
  background-image: url(../../img/footer_bg.png);
  color: white;
}
.l-footer__text {
  font-size: 1.25rem;
  padding-top: 41px;
}
@media screen and (max-width: 834px) {
  .l-footer__text {
    padding-top: 16px;
  }
}
.l-footer__copyright {
  font-size: 14px;
  padding-top: 31px;
}
@media screen and (max-width: 834px) {
  .l-footer__copyright {
    padding-top: 70px;
  }
}

.l-sidebar {
  width: 19%;
  background-color: #f2ede9;
  color: #707070;
  transition: all 0.3s;
}
@media screen and (max-width: 1200px) {
  .l-sidebar {
    width: 0;
    z-index: 10;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    right: -100%;
  }
}
.l-sidebar.is-active {
  width: 44%;
  right: 0;
}
@media screen and (max-width: 834px) {
  .l-sidebar.is-active {
    width: 87%;
  }
}

.l-inner {
  width: 81%;
}
@media screen and (max-width: 1200px) {
  .l-inner {
    width: 100%;
  }
}

.l-separate {
  position: relative;
}

.c-flex--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .c-flex--header {
    flex-direction: column;
  }
}
.c-flex--separate {
  display: flex;
}
.c-flex--search {
  display: flex;
  justify-content: right;
}
@media screen and (max-width: 1200px) {
  .c-flex--search {
    justify-content: center;
  }
}
.c-flex--archive {
  display: flex;
}
@media screen and (max-width: 834px) {
  .c-flex--archive {
    flex-direction: column;
  }
}
.c-flex--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-flex--map {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-flex--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-flex__archive--card {
  display: flex;
}
.c-flex--pagination {
  display: flex;
  justify-content: center;
}

.c-main__visual, .c-main__visual--archive {
  background-image: url(../../../img/mainvisual-pc.jpg);
  height: 530px;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .c-main__visual, .c-main__visual--archive {
    height: 285px;
  }
}
.c-main__visual--archive {
  background-image: url(../../../img/page-title_arcive.jpg);
  height: 239px;
}
.c-main__visual--archive span {
  font-size: 1rem;
  margin-left: 19px;
}
.c-main__title, .c-main__title--archive {
  font-size: 2.5rem;
  position: absolute;
  margin-left: 86px;
  top: 47%;
}
.c-main__title--archive {
  top: 42%;
}

.c-card {
  bottom: 0;
  margin: 0 10px 10px 10px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.c-card__title {
  font-size: 1.5rem;
  padding: 16px 16px 10px 16px;
  font-weight: 700;
}
.c-card__text {
  padding: 0 16px 16px 21px;
}

.c-archive__visual {
  background-size: cover;
  max-width: 100%;
  height: auto;
}
.c-archive__visual--takeout {
  background-image: url(../../../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
}
.c-archive__visual--eatin {
  background-image: url(../../../img/473d814b175bd517b56eb309f2958725.png);
}

.c-wrapper--archive {
  margin: 100px 5%;
}
@media screen and (max-width: 1200px) {
  .c-wrapper--archive {
    margin: 20px;
  }
}
@media screen and (max-width: 834px) {
  .c-wrapper--archive {
    margin-bottom: 50px;
  }
}
.c-wrapper--card {
  padding-top: 400px;
}
.c-wrapper--map {
  padding: 30px;
  color: white;
  font-weight: 700;
  width: 80%;
}
@media screen and (max-width: 1200px) {
  .c-wrapper--map {
    width: 100%;
    height: 100%;
  }
}
.c-wrapper__archive--archive {
  margin: 70px 100px 150px;
}
.c-wrapper__archive--cards {
  padding-top: 70px;
}
.c-wrapper__card--caption {
  margin: 56px 0 0 10%;
}

.c-map {
  width: 100%;
  position: relative;
  height: 649px;
}
@media screen and (max-width: 1200px) {
  .c-map {
    height: 415px;
  }
}
@media screen and (max-width: 834px) {
  .c-map {
    height: 691px;
  }
}
.c-map iframe {
  width: 100%;
  height: 100%;
}
.c-map__bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 834px) {
  .c-map__bg {
    height: 415px;
  }
}
.c-map__explanation {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 66%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .c-map__explanation {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
  }
}
@media screen and (max-width: 834px) {
  .c-map__explanation {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
  }
}
.c-map__heading {
  font-size: 2.25rem;
}
.c-map__text {
  margin-top: 50px;
}
@media screen and (max-width: 1200px) {
  .c-map__text {
    line-height: 2;
    overflow: hidden;
    height: 220px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 834px) {
  .c-map__text {
    line-height: 2.5;
    height: 480px;
  }
}

.c-menu {
  padding: 32px 0 28px 20px;
}
.c-menu__list {
  padding-bottom: 20px;
}
.c-menu__list a {
  color: #707070;
}

.c-search {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .c-search {
    padding-bottom: 38px;
  }
}
@media screen and (max-width: 834px) {
  .c-search {
    width: 90%;
  }
}
.c-search__form {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #777777;
  border-radius: 10px;
  background-color: white;
  height: 46px;
}
@media screen and (max-width: 1200px) {
  .c-search__form {
    width: 47%;
  }
}
@media screen and (max-width: 834px) {
  .c-search__form {
    width: 80%;
  }
}
.c-search__form input {
  width: 250px;
  height: 45px;
  padding: 5px 15px 5px 0;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
}
.c-search__form input::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
}
.c-search__form input::-moz-placeholder {
  color: #777777;
}
.c-search__form input::placeholder {
  color: #777777;
}
.c-search__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.c-search__logo::before {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23777777'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
  margin-left: 12px;
}

.c-button {
  background-color: #f2ede9;
  border: solid 1px #707070;
  width: 136px;
  height: 46px;
  color: #707070;
  border-radius: 10px;
  margin-left: 14px;
}

.c-sidebar-bg {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  right: -100%;
  transition: all 0.3s;
}
.c-sidebar-bg.is-active {
  right: 0;
  width: 100vw;
  height: 100%;
}

.c-close {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
  top: 20px;
  right: 25px;
}
@media screen and (max-width: 1200px) {
  .c-close {
    display: block;
  }
}
@media screen and (max-width: 834px) {
  .c-close {
    top: 8px;
    right: 11px;
  }
}
.c-close span {
  display: inline-block;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #707070;
  width: 45%;
}
.c-close span:nth-of-type(1) {
  top: 18px;
  left: 0;
  transform: translateY(6px) rotate(-45deg);
  width: 100%;
}
.c-close span:nth-of-type(2) {
  top: 30px;
  left: 0;
  transform: translateY(-6px) rotate(45deg);
  width: 100%;
}

.c-main-archive {
  color: #3c2a10;
}
.c-main-archive__heading {
  font-size: 2.25rem;
  font-weight: 700;
}
.c-main-archive__text {
  font-size: 1rem;
  padding-top: 20px;
}

.c-card-archive__image {
  background-image: url(../../../img/cardvisual.png);
  width: 50%;
  background-size: cover;
}
.c-card-archive__caption {
  width: 50%;
  background-color: #3c2b1c;
  color: #ffffff;
}
.c-card-archive__title {
  font-size: 2.25rem;
}
.c-card-archive__heading {
  font-size: 1.5rem;
  margin-top: 44px;
}
.c-card-archive__text {
  font-size: 1rem;
  margin-top: 13px;
  margin-bottom: 60px;
}

.c-detail {
  background-color: #ffffff;
  border-radius: 40px;
  height: 76px;
  width: 292px;
  margin: 0 auto;
}
.c-detail__text {
  display: block;
  color: #707070;
  text-align: center;
  line-height: 76px;
}

.c-pagination {
  margin: 0 auto;
}
.c-pagination__item {
  padding-right: 15px;
}
.c-pagination__item__link {
  display: block;
  color: #707070;
  font-size: 1rem;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  border: solid 2px;
  text-align: center;
  line-height: 30px;
}

.p-header {
  padding: 0 65px 0 31px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .p-header {
    padding: 0;
  }
}
.p-header__title {
  color: #707070;
  font-size: 4rem;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .p-header__title {
    font-size: 2.5rem;
    padding: 40px 0 38px 0;
  }
}
@media screen and (max-width: 834px) {
  .p-header__title {
    padding-top: 43px;
  }
}

.p-archive {
  width: 50%;
  margin: 20px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .p-archive {
    margin: 20px;
  }
}
@media screen and (max-width: 834px) {
  .p-archive {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
.p-archive__title {
  font-size: 5rem;
  color: #ffffff;
  margin: 24px 0 0 10px;
}
@media screen and (max-width: 1200px) {
  .p-archive__title {
    font-size: 2.75rem;
  }
}

.p-sidebar {
  padding: 84px 0 0 46px;
}
.p-sidebar__title {
  font-size: 2rem;
  color: #707070;
}
@media screen and (max-width: 1200px) {
  .p-sidebar__title {
    display: none;
  }
}
@media screen and (max-width: 834px) {
  .p-sidebar__title {
    font-size: 1.25rem;
  }
}

.p-menu {
  margin-top: 90px;
}

.p-slide {
  display: none;
}
@media screen and (max-width: 1200px) {
  .p-slide {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media screen and (max-width: 834px) {
  .p-slide {
    top: 8px;
    right: 8px;
  }
}

.p-card {
  height: 471px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */