.c-button{
    background-color: #f2ede9;
    border: solid 1px #707070;
    width: 136px;
    height: 46px;
    color: #707070;
    // padding: 11px 52px;
    border-radius: 10px;
    margin-left: 14px;
    background: linear-gradient(90deg, #f2ede9, #ded8df);
}