.c-pagination{
    // width: 38%;
    margin: 0 auto;
    &__text{
        line-height: 30px;
        margin-right: 8px;
    }
    &__item{
        padding-right: 15px;
        // padding: 1px;
        // height: 30px;
        // width: 30px;
        // border: solid 2px;
        &__link{
            display: block;
            color:#707070;
            font-size: 1rem;
            margin: 0 auto;
            height: 30px;
            width: 30px;
            border: solid 1px;
            text-align: center;
            line-height: 30px;
            &--arrow{
                @extend .c-pagination__item__link;
                border: none;
            }
        }
    }
}