.c-sidebar-bg{
    // display: none;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 0;
    height: 100%;
    
    overflow-x: hidden;
    position: absolute;
    top:0;
    height: 100%;
    right: -100%;
    transition: all 0.3s;
&.is-active{
        right: 0;
        width: 100vw;
        height: 100%;
    
    }

}