.c-wrapper{
    &--archive{
        margin: 100px 5%;
        @include ipad{
            margin: 20px;
        }
        @include sp{
            margin-bottom: 50px;
        }
    }
    &--card{
        padding-top: 400px;
    }
    &--map{
        padding: 30px;
        color: white;
        font-weight: 700;
        width: 80%;
        @include ipad{
            width: 100%;
            height: 100%;
        }
    }
    &__archive{
        &--archive{
            margin: 63px 100px 63px;
        }
        &--cards{
            padding-top: 70px;
        }
    }
    &__card{
        &--caption{
            margin: 56px 0 0 10%;
        }
    }
}