.p-header{
    padding: 0 65px 0 31px;
    // line-height: 217px;
    width: 100%;
    @include ipad{
        padding: 0;
    }
    &__title{
        color: $color-main;
        font-size: 4rem;
        font-weight: 700;
        @include ipad{
            font-size: 2.5rem;
            padding: 40px 0 38px 0;
        }
        @include sp{
            padding-top: 43px;
        }
    }
}