.l-sidebar{
    width: 19%;
    background-color: #f2ede9;
    color: #707070;
    transition: all 0.3s;
    @include ipad{
        width: 0;
        z-index: 10;
        overflow-x: hidden;
        position: absolute;
        top:0;
        height: 100%;
        right: -100%;
    }

    &.is-active{
        width: 44%;
        right: 0;
         @include sp{
            width: 87%;
         }
    }
}